// @font-face {
//   font-family: 'lovely';
//   src: url('../assets/font/lovely.ttf');
// }

:root {
  --bgcolor: #f0f2f5;
  --primary: deepPink;
  --headerBg: #1d1d26;
  --textColor: #0e0f0f;
  --textColorInverse: #fcfdff;
  --bg: #fcfdff;
  --bgTint: #dfeded;
  --bgGrey: #e6e8e8;
  --white: #fcfdff;
}