@media (prefers-color-scheme: dark) {
  /* Dark mode styles go here! */
  :root {
    --bgcolor: #333;
    --bg: #161618;
    --bgTint: #27272c;
    --textColor: #dbd7db;
    --bgGrey: #27272c;
    --textColorInverse: #0e0f0f;
  }
}