* {
  padding: 0;
  margin: 0;
}

html{
  background: #eee;
}

html, body {
  height: 100%;
  font: 16px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
  font-family:'LiDeBiao-Xing32084b7206f21b19';
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

